#ach-h1 {
  color: #8276e3;
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 4vh;
}
.ach-wrap {
  width: 100vw;
  height: 50vh;
  display: flex;
  justify-content: center;
  margin: 5vh auto 0rem auto;
}
.ach-certi {
  height: 40vh;
  width: 40vw;
}

#cert1 {
  background-image: url("../images/css.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#cert2 {
  background-image: url("../images/javascript.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
@media (max-width: 650px) {
  .ach-wrap {
    width: 100%;
    height: 30%;
    margin: 15%;
    flex-direction: column;
  }
  .ach-wrap a {
    padding-bottom: 5%;
  }
  .ach-certi {
    width: 80%;
  }
}
