.nav-wrap {
  height: 10vh;
  width: 100vw;
  background-color: #131314;
  position: sticky;
  top: 0px;
  z-index: 10;
}
.nav-content {
  height: inherit;
  list-style: none;

  font-weight: semi-bold;
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  letter-spacing: 0.15em;
  cursor: pointer;
  color: white;
  text-transform: uppercase;
}
.nav-content li {
  padding: 0.5rem;
}
.button {
  display: none;
}
.nav-content li a {
  text-decoration: none;
  color: white;
  font-size: large;
}
.nav-content li a:hover {
  color: #8267e3;
}

#hidden {
  display: flex;
}

@media (max-width: 850px) {
  .nav-content li a {
    font-size: 1rem;
  }
}

@media (max-width: 650px) {
  .nav-wrap {
    display: none;
  }
  .button {
    display: flex;
  }
  #hidden {
    position: absolute;
    left: 0px;
    top: 7vh;
    width: 100vw;
    height: fit-content;
  }
  .nav-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    transition: ease-in;
    background-color: #131314;
  }
}
